[package]
name = "bdk-bip322"
version = "0.1.0"
edition = "2024"
rust-version = "1.85.0"

[dependencies]
bitcoin = { version = "0.32.8", default-features = false }
bdk_wallet = { version = "2.3.0", features = ["test-utils"], default-features = false }

[features]
default = ["std"]
std = []
